In [1]:
# Sets store unique elements and unordered

In [2]:
s = set([12,1,1,2,3,4,3,4,3,5,6])
print(s)

{1, 2, 3, 4, 5, 6, 12}

In [8]:
s2 = {1,2,3,1,2,4,5,4,6,5,6}
print(s2)

{1, 2, 3, 4, 5, 6}

In [9]:
s2.add(50)
print(s2)

{1, 2, 3, 4, 5, 6, 50}

In [6]:
s.union(s2)

{1, 2, 3, 4, 5, 6, 12, 50}

In [7]:
s | s2

{1, 2, 3, 4, 5, 6, 12, 50}

In [10]:
s & s2

{1, 2, 3, 4, 5, 6}

In [11]:
s.intersection(s2)

{1, 2, 3, 4, 5, 6}

In [12]:
s - s2

{12}

In [13]:
s.clear()

In [14]:
a1 = {1,2,3,4}
a2 = {2,3,4,5,6}

# Those elements which are only in one of the sets
print(a1^a2)

{1, 5, 6}