### Tuples are immutables

In [1]:
# why to use tuples ?
# Tuples are faster than lists
# Safe write protected
# To return multiple values from a function

In [2]:
t = (1,2,3,"Hello")
print(t)

(1, 2, 3, 'Hello')

In [3]:
print(t[1])
t[1] = 2

2

TypeError: 'tuple' object does not support item assignment

In [4]:
# Convert a tuple into a list
l = list(t)
print(l)

[1, 2, 3, 'Hello']

In [5]:
l[0] = "Update"
print(l)

['Update', 2, 3, 'Hello']

In [6]:
t2 = tuple(l)
print(t2)

('Update', 2, 3, 'Hello')

In [8]:
# Concatenation and Repetation is possible
print(t2 + t)
t2 = t2 * 3
print(t2)

('Update', 2, 3, 'Hello', 1, 2, 3, 'Hello')
('Update', 2, 3, 'Hello', 'Update', 2, 3, 'Hello', 'Update', 2, 3, 'Hello')

In [9]:
len(t)

4

In [11]:
t = (1,2,3,4,5,3,7,8,9,0)
max(t)

9

In [12]:
min(t)

0

In [13]:
del t
print(t)

NameError: name 't' is not defined